---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Experience from "../sections/Experience.astro";
import Projects from "../sections/Projects.astro";
import Photography from "../sections/Photography.astro";
import Contact from "../sections/Contact.astro";
---

<BaseLayout>
  <Nav />
  <main id="main">
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Photography />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
